<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>461952164728-5o30lqj8k69apd1918m0lo58sgfn5272.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnI10u9lM9jjzU8P8bgO_vrXvdf81S3tg</string>
	<key>GCM_SENDER_ID</key>
	<string>461952164728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.F1Service</string>
	<key>PROJECT_ID</key>
	<string>f1service-c0949</string>
	<key>STORAGE_BUCKET</key>
	<string>f1service-c0949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461952164728:ios:41f63f7a93793092c1de8d</string>
</dict>
</plist>